@{
    DateTime date = DateTime.Now;
}
<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css", false)
    <meta name="viewport" content="width=device-width" />
    <title> Business Directory - @ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="App" asp-action="Index">BusinessDirectory</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="App" asp-action="Categories"><i class="fa fa-bars"></i> Categorias</a></li>
                <li><a asp-controller="App" asp-action="PublishBusiness"><i class="fa fa-upload"></i> Publicar Negocio</a></li>
                <li><a asp-controller="App" asp-action="About"><i class="fa fa-user"></i> Sobre el Autor</a></li>
                <li><a asp-controller="App" asp-action="MyBusinesses"><i class="fa fa-sitemap"></i> Mis negocios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-controller="Admin" asp-action="Register"><i class="fa fa-sign-in"></i> Registrarse</a></li>
                <li><a asp-controller="Admin" asp-action="Login"><i class="fa fa-sign-in"></i> Iniciar Sesión</a></li>
                <li><a asp-controller="Admin" asp-action="Logout"><i class="fa fa-sign-out"></i> Cerrar Sesión</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>



    <footer class="container-fluid">
        <div class="navbar navbar-default navbar-fixed-bottom">
            <p class="text-center text-muted">Business Directory @date.Year</p>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
